@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600&display=swap");
:root {
  --text-color: #fff;
  --color: #800080;
  --bg-color: #000000f4;
  --first: #fff;
  --second: #000;
  --mob-color: #363636;
  --grd-color: #d3e200;
  --place-clr: #afafaf;
  --border-main: rgba(255, 255, 255, 0.35);
  --border-light: rgba(255, 255, 255, 0.15);
}

body.dark-mode {
  --text-color: #000000 ;
  --bg-color: #ffffff;
  --first: #050505;
  --second: #fff;
  --mob-color: #eae6e6;
  --box-bg: #e5e5e5;
  --clr-bg: #e5e5e5;
  --place-clr: #6b6b6b ;
  --border-main: rgba(0, 0, 0, 0.35);
  --border-light: rgba(0, 0, 0, 0.15);
}

body {
  background: var(--bg-color);
}
body section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Figtree", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant: small-caps;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  padding: 0.9%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
}
header nav .logo {
  z-index: 1;
}
header nav .logo a {
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
  color: var(--first);
}
header nav .logo a span {
  color: var(--color);
}
header nav .list-darkmode-menu {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
header nav .list-darkmode-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  font-size: 18px;
  list-style: none;
  z-index: 1;
}
header nav .list-darkmode-menu ul li a {
  position: relative;
  text-decoration: none;
  color: var(--first);
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease;
}
header nav .list-darkmode-menu ul li a.active {
  color: var(--color);
}
header nav .list-darkmode-menu ul li a:hover {
  color: var(--color);
}
header nav .list-darkmode-menu ul li a:hover::before {
  width: 100%;
}
header nav .list-darkmode-menu ul li a::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 0;
  height: 2.5px;
  background: var(--color);
  transition: 0.3s ease;
}
header nav .list-darkmode-menu .mode {
  color: var(--text-color);
  font-size: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header nav .list-darkmode-menu .mode .fa-moon,
header nav .list-darkmode-menu .mode .fa-sun {
  position: absolute;
  animation: animate 0.5s;
  color: var(--first);
}
header nav .list-darkmode-menu .mode .fa-moon {
  display: none;
  color: var(--first);
}
header nav .list-darkmode-menu .mode input:checked ~ .fa-sun {
  display: none;
}
header nav .list-darkmode-menu .mode input:checked ~ .fa-moon {
  display: block;
}
header nav .list-darkmode-menu .mode input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
@keyframes animate {
  0% {
    transform: rotate(-360deg) scale(0);
  }
  75% {
    transform: rotate(25deg);
  }
}
header nav .list-darkmode-menu .hamburger {
  position: relative;
  width: 30px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  scale: 0.9;
  display: none;
}
header nav .list-darkmode-menu .hamburger .bar, header nav .list-darkmode-menu .hamburger::after, header nav .list-darkmode-menu .hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: var(--first);
  margin: 6px 0;
  transition: 0.4s;
}
header nav .list-darkmode-menu .hamburger.active::before {
  transform: rotate(-45deg) translate(-8px, 5px);
}
header nav .list-darkmode-menu .hamburger.active::after {
  transform: rotate(45deg) translate(-8px, -5px);
}
header nav .list-darkmode-menu .hamburger.active .bar {
  opacity: 0;
}

.home .home-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.home .home-info .left {
  flex: 1;
  min-width: 280px;
}
.home .home-info .left h3 {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: var(--first);
  border-radius: 25px;
}
.home .home-info .left h1 {
  font-size: 4.5rem;
  color: var(--first);
  margin: 10px 0;
}
.home .home-info .left h4 {
  color: var(--first);
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.home .home-info .left h4 span {
  color: var(--color);
}
.home .home-info .left p {
  width: 90%;
  font-size: 16px;
  font-weight: 400;
  color: var(--first);
  line-height: 25px;
  margin-bottom: 15px;
  text-align: justify;
}
.home .home-info .left .social {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 25px 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  z-index: 10;
}
.home .home-info .left .social a {
  text-decoration: none;
  background: transparent;
  color: var(--color);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color);
  transition: 0.4s ease;
}
.home .home-info .left .social a i {
  font-size: 20px;
}
.home .home-info .left .social a:hover {
  color: #fff;
  background: var(--color);
  transform: translateY(-7px);
  box-shadow: 0 0 0.7rem var(--color);
}
.home .home-info .left .btn {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 25px 0;
  flex-wrap: wrap;
}
.home .home-info .left .btn button {
  font-size: 15px;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 25px;
  color: var(--color);
  background: transparent;
  border: 2px solid var(--color);
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.home .home-info .left .btn button:hover {
  color: var(--first);
  background: var(--color);
  transform: translateY(-7px);
  box-shadow: 0 0 0.7rem var(--color);
}
.home .home-info .right {
  flex: 1;
  min-width: 250px;
}
.home .home-info .right .profile {
  text-align: right;
}
.home .home-info .right .profile img {
  width: 450px;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 50%;
  background: var(--color);
  border: 3px solid var(--color);
  box-shadow: 0 0 40px var(--color);
  cursor: pointer;
  transition: 0.3s ease;
}
.home .home-info .right .profile img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 80px var(--color);
}
.home {
  /* ================= RESPONSIVE ================= */
}
@media screen and (max-width: 1024px) {
  .home .home-info {
    gap: 30px;
  }
  .home .home-info .right .profile img {
    width: 350px;
    height: 350px;
  }
}
@media screen and (max-width: 768px) {
  .home .home-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .home .home-info .left {
    width: 100%;
  }
  .home .home-info .left p {
    width: 100%;
  }
  .home .home-info .left .social {
    justify-content: center;
  }
  .home .home-info .left .btn {
    justify-content: center;
  }
  .home .home-info .right {
    width: 100%;
    margin-top: 30px;
  }
  .home .home-info .right .profile img {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 480px) {
  .home .home-info .left h1 {
    font-size: 3rem;
  }
  .home .home-info .left h3 {
    font-size: 1.8rem;
  }
  .home .home-info .left h4 {
    font-size: 1.5rem;
  }
  .home .home-info .left p {
    font-size: 14px;
  }
  .home .home-info .left .social a {
    width: 40px;
    height: 40px;
  }
  .home .home-info .left .social a i {
    font-size: 18px;
  }
  .home .home-info .left .btn button {
    font-size: 14px;
    padding: 10px 20px;
  }
  .home .home-info .right .profile img {
    width: 200px;
    height: 200px;
  }
}

.about {
  padding: 160px 0;
  background: transparent;
}
.about .about-wrapper {
  display: flex;
  align-items: center;
  gap: 7em;
}
.about .about-wrapper .about-left {
  flex: 1;
}
.about .about-wrapper .about-left .about-img img {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 50%;
  border: 3px solid var(--color);
  box-shadow: 0 0 40px var(--color);
  cursor: pointer;
  transition: 0.3s ease;
}
.about .about-wrapper .about-left .about-img img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 80px var(--color);
}
.about .about-wrapper .about-right {
  flex: 1;
}
.about .about-wrapper .about-right .about-info h2 {
  font-size: 2.8rem;
  color: var(--first);
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.about .about-wrapper .about-right .about-info h2 span {
  color: var(--color);
}
.about .about-wrapper .about-right .about-info h3 {
  font-size: 1.8rem;
  color: var(--first);
  font-weight: 600;
  margin-bottom: 25px;
}
.about .about-wrapper .about-right .about-info p {
  font-size: 16px;
  font-weight: 300;
  color: var(--first);
  text-align: justify;
  line-height: 1.4rem;
  margin-bottom: 25px;
}
.about .about-wrapper .about-right .about-info p .more-text {
  display: block;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.about .about-wrapper .about-right .about-info p.expanded .more-text {
  max-height: 1000px;
  opacity: 1;
}
.about .about-wrapper .about-right .about-info button {
  font-size: 15px;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 25px;
  color: var(--color);
  background: transparent;
  border: 2px solid var(--color);
  cursor: pointer;
  outline: none;
  transition: 0.3s ease-in;
}
.about .about-wrapper .about-right .about-info button:hover {
  color: var(--first);
  background: var(--color);
  transform: translateY(-7px);
  box-shadow: 0 0 0.7rem var(--color);
}

.skills {
  text-align: center;
}
.skills .section-title {
  font-size: 2.5rem;
  color: var(--first);
  margin-bottom: 2rem;
  /* highlight span */
}
.skills .section-title span {
  color: var(--color);
}
.skills .skills-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}
.skills {
  /* LEFT SIDE (PROGRESS BARS) */
}
.skills .skills-left {
  flex: 1;
  min-width: 350px;
}
.skills .skills-left h3 {
  color: var(--color);
  margin-bottom: 1.5rem;
}
.skills .skills-left .skill {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}
.skills .skills-left .skill span {
  flex-basis: 100px;
  color: var(--first);
}
.skills .skills-left .skill .progress-bar {
  flex: 1;
  height: 12px;
  position: relative;
  background: var(--bg-color);
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid var(--border-main);
  box-shadow: 0 0 6px var(--border-light);
  overflow: hidden;
  transition: 0.3s ease;
}
.skills .skills-left .skill .progress-bar::after {
  content: "";
  position: absolute;
  inset: 3px;
  border-radius: 6px;
  border: 1px solid var(--border-light);
}
.skills .skills-left .skill .progress-bar:hover {
  border-color: var(--grd-color);
  box-shadow: 0 0 15px var(--color);
}
.skills .skills-left .skill .progress-bar .progress {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, var(--grd-color), var(--color));
  transition: width 2s ease;
  border-radius: 6px;
}
.skills .skills-left .skill .value {
  min-width: 35px;
  color: var(--first);
  text-align: right;
}
.skills {
  /* RIGHT SIDE (CIRCLES) */
}
.skills .skills-right {
  flex: 1;
  min-width: 350px;
}
.skills .skills-right h3 {
  color: var(--color);
  margin-bottom: 1.5rem;
}
.skills .skills-right .circle-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.skills .skills-right .circle {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-main);
  box-shadow: 0 0 6px var(--border-light);
  transition: 0.3s ease;
}
.skills .skills-right .circle::after {
  content: "";
  position: absolute;
  inset: 6px;
  border-radius: 50%;
  border: 1px solid var(--border-light);
}
.skills .skills-right .circle:hover {
  border-color: var(--grd-color);
  box-shadow: 0 0 15px var(--color);
}
.skills .skills-right .circle svg {
  position: absolute;
  width: 160px;
  height: 160px;
  transform: rotate(-90deg);
}
.skills .skills-right .circle svg circle {
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
.skills .skills-right .circle .number h2 {
  color: var(--first);
  font-size: 2rem;
}
.skills .skills-right .circle .number h2 span {
  font-size: 1rem;
}
.skills .skills-right .circle p {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  color: var(--first);
  font-size: 13px;
}

.education {
  padding: 130px 0;
  background: transparent;
  transition: 0.3s ease;
}
.education .section-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  color: var(--text-color);
}
.education .section-title span {
  color: var(--color);
}
.education {
  /* Timeline Wrapper */
}
.education .education-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  position: relative;
}
.education .education-wrapper::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 4px;
  height: 100%;
  background: var(--color);
  transform: translateX(-50%);
  border-radius: 10px;
}
@media (max-width: 768px) {
  .education .education-wrapper {
    grid-template-columns: 1fr;
  }
  .education .education-wrapper::before {
    left: 20px;
    transform: none;
  }
}
.education .edu-card {
  position: relative;
  padding: 25px;
  border-radius: 12px;
  color: var(--text-color);
  background: transparent !important;
  border-left: 6px solid var(--color);
  border-right: 6px solid var(--grd-color);
  transition: 0.3s ease;
  /* Timeline middle circle */
}
.education .edu-card::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 4px solid var(--color);
  background: transparent;
  z-index: 10;
}
.education .edu-card {
  /* Right side (odd cards) */
}
.education .edu-card:nth-child(odd)::before {
  right: -32px;
  transform: translateX(50%);
}
.education .edu-card {
  /* Left side (even cards) */
}
.education .edu-card:nth-child(even)::before {
  left: -32px;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  .education .edu-card {
    border-right: none;
    justify-self: start !important;
  }
  .education .edu-card::before {
    left: -28px !important;
    right: auto !important;
    transform: none !important;
  }
}
.education .edu-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 15px rgba(128, 0, 128, 0.4);
}
.education .edu-card h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: var(--color);
}
.education .edu-card p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 6px;
}

.contact {
  padding: 10rem 9% 2rem;
  background: transparent;
}
.contact .section-title {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 40px;
  color: var(--first);
}
.contact .section-title span {
  color: var(--color);
}
.contact .contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.contact {
  /* LEFT SIDE */
}
.contact .contact-info {
  color: var(--first);
  padding-left: 10px;
}
.contact .contact-info h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--first);
}
.contact .contact-info .description {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 35px;
  color: var(--first);
  max-width: 90%;
}
.contact .contact-info .info-box {
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  gap: 18px;
}
.contact .contact-info .info-box i {
  font-size: 28px;
  color: var(--color);
  width: 35px;
}
.contact .contact-info .info-box p {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  line-height: 1.4;
  color: var(--first);
}
.contact .contact-info .contact-social {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}
.contact .contact-info .contact-social a {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
  border: 2px solid var(--color);
  font-size: 20px;
  transition: 0.4s;
}
.contact .contact-info .contact-social a:hover {
  background: var(--color);
  color: #fff;
  border-color: var(--color);
  transform: translateY(-5px);
  box-shadow: 0 0 0.7rem var(--color);
}
.contact .contact-form {
  padding: 30px;
  border-radius: 12px;
  background: transparent;
}
.contact .contact-form .input-box {
  position: relative;
  margin-bottom: 30px;
}
.contact .contact-form .input-box input,
.contact .contact-form .input-box textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid var(--border-main);
  outline: none;
  color: var(--first);
  resize: none;
  transition: 0.3s ease;
}
.contact .contact-form .input-box input:focus,
.contact .contact-form .input-box textarea:focus {
  border-color: var(--grd-color);
  box-shadow: 0 0 15px var(--color);
}
.contact .contact-form .input-box label {
  position: absolute;
  left: 12px;
  top: 12px;
  color: var(--place-clr);
  font-size: 0.9rem;
  transition: 0.3s;
  pointer-events: none;
}
.contact .contact-form .input-box input:focus + label,
.contact .contact-form .input-box input:valid + label,
.contact .contact-form .input-box textarea:focus + label,
.contact .contact-form .input-box textarea:valid + label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: var(--color);
  background: var(--bg-color);
  padding: 0 6px;
}
.contact .contact-form button {
  width: 100%;
  padding: 14px;
  font-size: 1rem;
  border-radius: 25px;
  background: transparent;
  border: 2px solid var(--color);
  color: var(--color);
  cursor: pointer;
  transition: 0.3s;
}
.contact .contact-form button:hover {
  background: var(--color);
  color: #fff;
  box-shadow: 0 0 0.7rem var(--color);
  transform: translateY(-7px);
}
.contact {
  /* RESPONSIVE */
}
@media (max-width: 768px) {
  .contact .contact-wrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1280px) {
  .home .home-info .left h1 {
    font-size: 4em;
  }
  .home .home-info .right .profile img {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 992px) {
  body section {
    padding: 8rem 5% 2rem;
  }
  header {
    background: var(--mob-color);
    position: sticky;
    top: 0;
    padding: 0 5%;
    z-index: 9;
  }
  header nav .list-darkmode-menu ul {
    position: fixed;
    top: 89px;
    left: -100%;
    max-width: 60%;
    width: 100%;
    height: 100%;
    background: var(--mob-color);
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    padding: 2rem 5% 0;
    transition: 0.3% ease;
  }
  header nav .list-darkmode-menu ul li a {
    font-size: 22px;
  }
  header nav .list-darkmode-menu ul.active {
    left: 0%;
  }
  header nav .list-darkmode-menu .hamburger {
    display: block;
  }
  .home {
    padding: 8rem 5% 2rem;
  }
  .home .home-info {
    flex-direction: column-reverse;
  }
  .home .home-info .left {
    padding-top: 50px;
  }
  .home .home-info .left p {
    width: 100%;
  }
  .home .home-info .left .social {
    display: none;
  }
  .home .home-info .right .profile {
    margin-top: 25px;
  }
  .home .home-info .right .profile img {
    width: 375px;
    height: 375px;
  }
  .home .home-info .right .profile img:hover {
    box-shadow: 0 0 60px var(--color);
  }
  .about .about-wrapper {
    flex-direction: column-reverse;
  }
  .about .about-wrapper .about-left .about-img img {
    width: 375px;
    height: 375px;
  }
  .about .about-wrapper .about-left .about-img img:hover {
    box-shadow: 0 0 60px var(--color);
  }
}
@media screen and (max-width: 767px) {
  header nav .list-darkmode-menu ul li a {
    font-size: 20px;
  }
  .home .home-info .left h1 {
    font-size: 3.6em;
  }
  .home .home-info .left h4 {
    font-size: 1.8em;
  }
  .home .home-info .left p {
    font-size: 14px;
  }
  .home .home-info .right .profile img {
    width: 375px;
    height: 375px;
  }
  .about .about-info .about-right h1 {
    font-size: 3.6em;
  }
  .about .about-info .about-right h4 {
    font-size: 1.8em;
  }
  .about .about-info .about-right p {
    font-size: 14px;
  }
  .about .about-info .about-left .about-img img {
    width: 375px;
    height: 375px;
  }
  .skill {
    justify-content: center;
  }
}
@media screen and (max-width: 567px) {
  header nav .logo a {
    font-size: 28px;
  }
  .home .home-info .left h3 {
    font-size: 1.8em;
  }
  .home .home-info .left h2 {
    font-size: 2.5em;
  }
  .home .home-info .left h4 {
    font-size: 1.4em;
  }
  .home .home-info .left p {
    font-size: 14px;
  }
  .home .home-info .right .profile img {
    width: 280px;
    height: 280px;
  }
  .about .about-wrapper .about-left .about-img img {
    width: 280px;
    height: 280px;
  }
  .about .about-wrapper .about-right .about-info h2 {
    font-size: 2.5em;
  }
  .skill {
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */
